@font-face {
    font-family: Redemption;
    src: url(Redemption.ttf);
}

@font-face {
    font-family: crock;
    src: url(crock.ttf);
}

@font-face {
    font-family: crock;
    src: url(crock.ttf);
}

@font-face {
    font-family: HapnaSlabSerif-Mediumr;
    src: url(HapnaSlabSerif-Medium.ttf);
}

@font-face {
    font-family: RDRLino-Regular;
    src: url(RDRLino-Regular.ttf);
}

* {
    font-family: HapnaSlabSerif-Mediumr;
    box-sizing: inherit;
    touch-action: manipulation;
    overflow-x: hidden;
    overflow-y: hidden;

}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(73, 73, 73, 0);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #b3b3b300;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 6px;
    background: rgb(148, 1, 1); 
}

.bottom-right {
    position: absolute;
    bottom: -1px;
    right: 2px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px black;
    text-align: right;

}

.top-right {
    position: absolute;
    bottom: 8px;
    right: 2px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px rgba(0, 0, 0, 0.39), 0 0 4px black;
    text-align: right;
}

#playerData {
    display: block; 
}

#container {
    -webkit-user-drag: none;
     user-select: none;
     -moz-user-select: none;
     -webkit-user-select: none;
     -ms-user-select: none;
     display: block;
     padding: 30px;
     padding-top: 40px;
     color: rgb(255, 255, 255);
     position: absolute;
     top: 44%;
     left: 37%;
     transform: translate(-50%, -50%);
     width: 500px;
     height: 850px;
     max-height: 850px;
     background-image: url('images/background2.png');
     background-size: 100% 100%;
     opacity: 0.93;
}

.line-div {
    width: 93%;
    height: 4px;
    position: relative;
    margin: auto auto;
    background-image: url("images/list_item_h_line_wide.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 80%;
    top: 82%;
}

.scrollline-div {
    width: 93%;
    height: 4px;
    position: relative;
    margin: auto auto;
    background-image: url("images/list_item_h_line_wide.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 80%;
    top: 23.5%;
}

#input_data {
    -webkit-user-drag: none;
     user-select: none;
     -moz-user-select: none;
     -webkit-user-select: none;
     -ms-user-select: none;
     display: block;
     padding: 30px;
     padding-top: 40px;
     color: rgb(255, 255, 255);
     position: absolute;
     top: 44%;
     left: 53%;
     transform: translate(-50%, -50%);
     width: 300px;
     height: 81px;
     max-height: 81px;
     background-image: url('images/background2.png');
     background-size: 100% 100%;
     opacity: 0.90;
}

#input_text {
    position: absolute;
    left: 55px;
    top: 10px;
    color: rgb(223, 221, 221);
    overflow: hidden;
    outline: none;
}

#input_type {
    position: absolute;
    left: 60px;
    top: 40px;
    color: rgb(223, 221, 221);
    background: #4d4d4d;
    width: 220px;
    height: 20px;
    overflow: hidden;
    outline: none;
}

#button1 {
    position: absolute;
    bottom:50px;
    left:60px;
    background-image: url('images/button.png');
    background-size: 100% 100%;
    width: 100px;
    height: 16px;
}
#button1:hover {
    position: absolute;
    bottom:50px;
    left:60px;
    background-image: url('images/sbutton.png');
    background-size: 100% 100%;
    width: 100px;
    height: 16px;
}
#button2 {
    position: absolute;
    bottom:50px;
    right:60px;
    background-image: url('images/button.png');
    background-size: 100% 100%;
    width: 100px;
    height: 16px;
}
#button2:hover {
    position: absolute;
    bottom:50px;
    right:60px;
    background-image: url('images/sbutton.png');
    background-size: 100% 100%;
    width: 100px;
    height: 16px;
}
#button3 {
    position: absolute;
    bottom:20px;
    left:60px;
    background-image: url('images/button.png');
    background-size: 100% 100%;
    width: 100px;
    height: 16px;
}
#button3:hover {
    position: absolute;
    bottom:20px;
    left:60px;
    background-image: url('images/sbutton.png');
    background-size: 100% 100%;
    width: 100px;
    height: 16px;
}
#button4 {
    position: absolute;
    bottom:20px;
    right:60px;
    background-image: url('images/button.png');
    background-size: 100% 100%;
    width: 100px;
    height: 16px;
}
#button4:hover {
    position: absolute;
    bottom:20px;
    right:60px;
    background-image: url('images/sbutton.png');
    background-size: 100% 100%;
    width: 100px;
    height: 16px;
}

#slot0 {
    padding: 25px;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 23px;
    left: 15px;
    width: 13px;
    height: 13px;
    background-size: 100% 100%;
}
#slot1 {
    padding: 25px;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 23px;
    left: 100px;
    width: 13px;
    height: 13px;
    background-size: 100% 100%;
}

#slot2 {
    padding: 25px;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 23px;
    left: 172px;
    width: 13px;
    height: 13px;
    background-size: 100% 100%;
}

#progress {
    position: absolute;
    background-color: rgb(117, 117, 117);
    background: rgb(3, 0, 0);
    top: 44px;
    left:-39px;
    width: 86px;
    height: 3px;  
    -webkit-transform:rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    border-radius: 20px;
    box-shadow: 0 2px 5px rgb(2, 0, 0) inset;
}

#slot3 {
    padding: 25px;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 23px;
    left: 244px;
    width: 13px;
    height: 13px;
    background-size: 100% 100%;
}

#slot4 {
    padding: 25px;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 23px;
    left: 318px;
    width: 13px;
    height: 13px;
    background-size: 100% 100%;
}

#slot5 {
    padding: 25px;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 23px;
    left: 388px;
    width: 13px;
    height: 13px;
    background-size: 100% 100%;
}

#id01 {
    padding: 25px;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 16%;
    font-size: 17px;
}

#id02 {
    padding: 25px;
    color: rgb(194, 194, 194);
    position: absolute;
    bottom: 13%;
    font-size: 13px;
}
#id03 {
    padding: 25px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 17%;
    padding-left: 28px;
    font-size: 13px;
}
#id07 {
    padding: 25px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 17%;
    padding-left: 384px;
    font-size: 13px;

}
#id08 {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 20.5%;
    left: 20%;
    font-size: 16px;
}
#id05 {
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 3%;
    left:5%;
    
    font-size: 17px;
}

#id04 {
    padding: 25px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 18.5%;
    font-size: 16px;
}
.show {
    display: block;
}

#hotbar {
    position: fixed;
	bottom: 2%;
	left: 40%;
    width: 480px;
    height: 100px;
    background-image: url('images/hotbar.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    animation: fadeIn;
    animation-duration: 0.3s;
}

#btn_1 {
    position: fixed;
	bottom: 8%;
	left: 100px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/hat_in.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_1:hover {
    position: fixed;
	bottom: 8%;
	left: 100px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/hat_ac.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}

#btn_2 {
    position: fixed;
	bottom: 8%;
	left: 140px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/glass_in.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_2:hover {
    position: fixed;
	bottom: 8%;
	left: 140px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/glass_ac.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_3 {
    position: fixed;
	bottom: 8%;
	left: 180px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/mask_in.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_3:hover {
    position: fixed;
	bottom: 8%;
	left: 180px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/mask_ac.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_4 {
    position: fixed;
	bottom: 8%;
	left: 220px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/bandana_in.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_4:hover {
    position: fixed;
	bottom: 8%;
	left: 220px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/bandana_ac.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_5 {
    position: fixed;
	bottom: 8%;
	left: 260px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/scarf_in.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_5:hover {
    position: fixed;
	bottom: 8%;
	left: 260px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/scarf_ac.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_6 {
    position: fixed;
	bottom: 8%;
	left: 300px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/cloak_in.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_6:hover {
    position: fixed;
	bottom: 8%;
	left: 300px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/cloak_ac.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_7 {position: fixed;
	bottom: 8%;
	left: 340px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/shirt_in.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_7:hover {
    position: fixed;
	bottom: 8%;
	left: 340px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/shirt_ac.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_8 {position: fixed;
	bottom: 8%;
	left: 380px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/vest_in.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_8:hover {
    position: fixed;
	bottom: 8%;
	left: 380px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/vest_ac.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_9 {
    position: fixed;
	bottom: 8%;
	left: 420px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/coat_in.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_9:hover {
    position: fixed;
	bottom: 8%;
	left: 420px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/coat_ac.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_10 {
    position: fixed;
	bottom: 4%;
	left: 100px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/ammo_in.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_10:hover {
    position: fixed;
	bottom: 4%;
	left: 100px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/ammo_ac.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_11 {
    position: fixed;
	bottom: 4%;
	left: 140px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/ring_in.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_11:hover {
    position: fixed;
	bottom: 4%;
	left: 140px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/ring_ac.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_12 {
    position: fixed;
	bottom: 4%;
	left: 300px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/glove_in.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_12:hover {
    position: fixed;
	bottom: 4%;
	left: 300px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/glove_ac.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_13 {
    position: fixed;
	bottom: 4%;
	left: 180px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/gauntlet_in.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_13:hover {
    position: fixed;
	bottom: 4%;
	left: 180px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/gauntlet_ac.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_14 {
    position: fixed;
	bottom: 4%;
	left: 220px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/belt_in.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_14:hover {
    position: fixed;
	bottom: 4%;
	left: 220px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/belt_ac.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_15 {
    position: fixed;
	bottom: 4%;
	left: 260px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/suspender_in.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_15:hover {
    position: fixed;
	bottom: 4%;
	left: 260px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/suspender_ac.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_16 {
    position: fixed;
    bottom: 4%;
	left: 340px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/pants_in.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_16:hover {
    position: fixed;
	bottom: 4%;
	left: 340px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/pants_ac.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}
#btn_17 {
    position: fixed;
    bottom: 4%;
	left: 380px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/boots_in.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}

#btn_17:hover {
    position: fixed;
	bottom: 4%;
	left: 380px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/boots_ac.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}

#btn_18 {
    position: fixed;
    bottom: 4%;
	left: 420px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/glove_in.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}

#btn_18:hover {
    position: fixed;
	bottom: 4%;
	left: 420px;
    width: 40px;
    height: 40px;
    background-image: url('images/clothe/glove_ac.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}

.button_items1 {
    position: fixed;
	top: 21%;
	right: 10%;
    width: 50px;
    height: 50px;
    background-image: url('images/items_b.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}

.button_items1:hover {
    position: fixed;
	top: 21%;
	right: 10%;
    width: 50px;
    height: 50px;
    background-image: url('images/itesms_bs.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}

.grid0 {
    overflow-y: scroll;
    overflow-x: hidden;
    position:absolute;
    display: grid;
    grid-template-columns: repeat(5, 93px);
    grid-auto-rows: 93px;
	width: 470px;
	max-width: 470px;
	height: 470px;
	max-height: 470px;
	top: 27%;
	left: 8%;
}

.grid1 {
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    max-width: 470px;
	max-height: 470px;
	top: 20%;
	left: 5%;
} 

.grid_other {
    position:absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(5, 92px);
    grid-auto-rows: 92px;
    width: 470px;
    max-width: 470px;
    height: 470px;
	max-height: 470px;
	top: 23%;
	left: 5%;
} 


#container_other {
    -webkit-user-drag: none;
     user-select: none;
     -moz-user-select: none;
     -webkit-user-select: none;
     -ms-user-select: none;
     display: block;
     padding: 30px;
     padding-top: 40px;
     color: rgb(255, 255, 255);
     position: absolute;
     top: 44%;
     left: 70%;
     transform: translate(-50%, -50%);
     width: 500px;
     height: 850px;
     max-height: 850px;
     background-image: url('images/background2.png');
     background-size: 100% 100%;
     opacity: 0.93;
 }

.grid2 {
    top: 40%;
    left: 500px;
    position: absolute;
    display: grid;
    background-image: url('images/background2.png');
    background-size: 100% 100%;
    width: 225px;
    border: none;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
} 

.item2 {
    display: block;
    color: rgb(179, 179, 179);
    background-image: url('images/button2.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    grid-template-columns:minmax(100px, 1fr);
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border: none;
    overflow: hidden;
    outline: none;
    width: 200px;
    height: 15px;
}
.item2:hover {
    color: rgb(255, 255, 255);
    grid-template-columns:minmax(100px, 1fr);
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border: none;
    overflow: hidden;
    outline: none;
    width: 200px;
    height: 15px;
    background-color: #666666;
    outline: 4px solid rgb(224, 1, 1);
    outline-offset: -2px;
    cursor: grab;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: Redemption;
    text-align: center;
    position: fixed;
    font-size: 50px;
    margin-top: 0.13em;
    margin-bottom: 0.83em;
    margin-left: 0.50em;
    margin-right: 0;

    padding-top: 30px;
    padding-bottom: 0px;

    width: 80%;
    height: 10%;
    background-image: url('images/title.png');
    background-size: 100% 100%;
    transition-duration: 0.5s;
}



/* .item.muuri-item-dragging {
    z-index: 3;
}

.item.muuri-item-releasing {
    z-index: 2;
}

.item.muuri-item-hidden {
    z-index: 0;
} */

.item {
    display: block;
    width: 90px;
    height: 90px;
    margin: 2px;
    text-align: center;
    z-index: 1;

}
.itemUsed {
    display: block;
    position: absolute;
    width: 90px;
    height: 90px;
    margin: 2px;
    text-align: center;
    z-index: 1;
}

.item-content {
    position:relative;
    width: 90px;
    height: 90px;
    background-image: url('images/button2.png');
    background-size: 100% 100%;
    background-color: rgba(172, 20, 20, 0);
    cursor: grab;
    transition: transform .2s; /* Animation */
}

.item-content:hover {
    position:relative;
    width: 90px;
    height: 90px;
    background-color: #6666666b;
    outline: 4px solid rgb(224, 1, 1);
    outline-offset: -2px;
    transform: scale(0.95); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    cursor: grab;
    animation-duration: 8.0s;
    animation-name: itemafk;
    animation-iteration-count: infinite;
    transition: none;
}

@keyframes itemafk {
    0%   {opacity:1;}
    20%  {opacity:1;}
    40%  {opacity:1;}
    80%  {opacity:0;}
    100% {opacity:1;}
}

#button {
    color: rgb(172, 172, 172);
    text-align: right;
    font-size: 12px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    background-image: url('images/button2.png');
    transition-duration: 0.4s;
}
#myInput {
    color: rgb(255, 255, 255);
    background: #4d4d4d;
    border: 2px;
    width: 120px;
    overflow: hidden;
    outline: none;
    position:absolute;
    right:20px;
    bottom:15px;
}

#input_size1 {
    color: rgb(255, 255, 255);
    background: #4d4d4d6b;
    width: 50px;
    overflow: hidden;
    outline: none;
    font-family: Redemption;
    text-align: center;
}
#input_size2 {
    color: rgb(255, 255, 255);
    background: #4d4d4d7a;
    width: 50px;
    overflow: hidden;
    outline: none;
    font-family: Redemption;
    text-align: center;
}
#context-menu {
    position: fixed;
    z-index: 10000;
    width: 155px;
    background: #1b1a1a;
    border-radius: 4px;
    transform: scale(0);
    transform-origin: top left;
    border-style: ridge;
    border-color: rgb(138, 4, 4);
    font-family: Redemption;
    text-align: center;
}

#context-menu.visible {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}
#context-menu .content_button {
    padding: 8px 10px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: inherit;
}

#context-menu .content_button:hover {
    color: rgb(255, 255, 255);
    background: #343434;
}
  
#show_weapons {
    position: absolute;
	top: 200px;
	right: 18.5%;
    width: 40px;
    height: 40px;
    background-image: url('images/show.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    transition: transform .2s; /* Animation */
}

#show_weapons:hover {
    position: absolute;
	top: 200px;
    right: 18.5%;
    width: 40px;
    height: 40px;
    background-image: url('images/showa.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    transform: scale(1.20); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#show_skills {
    position: absolute;
	top: 200px;
	right: 11.5%;
    width: 40px;
    height: 40px;
    background-image: url('images/showSkills.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    transition: transform .2s; /* Animation */
}
#show_skills:hover {
    position: absolute;
    top: 200px;
	right: 11.5%;
    width: 40px;
    height: 40px;
    background-image: url('images/showSkillsa.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    transform: scale(1.20); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#eatFilter {
    position: absolute;
    background-color: transparent;
    top:0;
    left:0;
    width: 0px;
    max-width: 0px;
    height: 0px;
    max-height: 0px;
    color: transparent;
    border-color: transparent;
    overflow: hidden;
    outline: none;
}

#filterAllItem {
    position: absolute;
	top: 200px;
	left: 11%;
    width: 40px;
    height: 40px;
    background-image: url('images/filter/allItems.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    transition: transform .2s; /* Animation */
}
#filterAllEat {
    position: absolute;
	top: 200px;
	left: 18%;
    width: 40px;
    height: 40px;
    background-image: url('images/filter/allEat.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    transition: transform .2s; /* Animation */
}
#filterAllDrink {
    position: absolute;
	top: 200px;
	left: 25%;
    width: 40px;
    height: 40px;
    background-image: url('images/filter/allDrink.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    transition: transform .2s; /* Animation */
}
#filterAllHerb {
    position: absolute;
	top: 200px;
	left: 32%;
    width: 40px;
    height: 40px;
    background-image: url('images/filter/allHerb.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    transition: transform .2s; /* Animation */
}
#filterAllCraft {
    position: absolute;
	top: 200px;
	left: 39%;
    width: 40px;
    height: 40px;
    background-image: url('images/filter/allCraft.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    transition: transform .2s; /* Animation */
}
#filterAllValuable {
    position: absolute;
	top: 200px;
	left: 46%;
    width: 40px;
    height: 40px;
    background-image: url('images/filter/allValuable.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    transition: transform .2s; /* Animation */
}
#filterAllHorse {
    position: absolute;
	top: 200px;
	left: 53%;
    width: 40px;
    height: 40px;
    background-image: url('images/filter/allHorse.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    transition: transform .2s; /* Animation */
}
#filterAllBuild {
    position: absolute;
    top: 200px;
	left: 60%;
    width: 40px;
    height: 40px;
    background-image: url('images/filter/allBuild.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    transition: transform .2s; /* Animation */
}
#filterAllTrash {
    position: absolute;
    top: 200px;
	left: 67%;
    width: 40px;
    height: 40px;
    background-image: url('images/filter/allTrash.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    transition: transform .2s; /* Animation */
}


#filterAllItem:hover {
    position: absolute;
    top: 200px;
	left: 11%;
    width: 40px;
    height: 40px;
    background-image: url('images/filter/allItemsH.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    transform: scale(1.20); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#filterAllEat:hover {
    position: absolute;
    top: 200px;
    left: 18%;
    width: 40px;
    height: 40px;
    background-image: url('images/filter/allEatH.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    transform: scale(1.20); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#filterAllDrink:hover {
    position: absolute;
    top: 200px;
	left: 25%;
    width: 40px;
    height: 40px;
    background-image: url('images/filter/allDrinkH.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    transform: scale(1.20); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#filterAllHerb:hover {
    position: absolute;
    top: 200px;
	left: 32%;
    width: 40px;
    height: 40px;
    background-image: url('images/filter/allHerbH.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    transform: scale(1.20); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#filterAllCraft:hover {
    position: absolute;
    top: 200px;
	left: 39%;
    width: 40px;
    height: 40px;
    background-image: url('images/filter/allCraftH.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    transform: scale(1.20); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#filterAllValuable:hover {
    position: absolute;
    top: 200px;
	left: 46%;
    width: 40px;
    height: 40px;
    background-image: url('images/filter/allValuableH.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    transform: scale(1.20); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#filterAllHorse:hover {
    position: absolute;
	top: 200px;
	left: 53%;
    width: 40px;
    height: 40px;
    background-image: url('images/filter/allHorseH.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    transform: scale(1.20); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#filterAllBuild:hover {
    position: absolute;
	top: 200px;
	left: 60%;
    width: 40px;
    height: 40px;
    background-image: url('images/filter/allBuildH.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    transform: scale(1.20); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#filterAllTrash:hover {
    position: absolute;
    top: 200px;
    left: 67%;
    width: 40px;
    height: 40px;
    background-image: url('images/filter/allTrashH.png');
    background-size: 100% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    transform: scale(1.20); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}